h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: aquamarine;
    font-size: 20px;
    text-align: left;
    font-variant: normal;
}

a {
    text-decoration: none;
}

ul {
    text-decoration: none;
}

p {
    text-decoration: none;
}

.disini:hover {
    color: khaki;
    font-size: 20px;
}

.disini:selection {
    color: brown;
}

.disini:visited {
    color: salmon;
}

a {
    color: inherit;
}

.overflow p {
    width: 200px;
    height: 200px;
    background-color: lemonchiffon;
    overflow: auto;
}

.lorem {
    float: right;
}

.container {
    border: 1px solid black;
    margin: auto;
}

img {
    text-decoration: none;
}

.radius {
    width: 400px;
    height: 400PX;
    background-color: salmon;
    margin: 20px auto;
    border-radius: 50px;
    background-image: url(gons.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    line-height: 400px;
}

.hello p {
    font-size: 100px;
    margin: auto;
    color: white;
    text-shadow: 0px 3px black;
}

.gradient {
    width: 200px;
    height: 200px;
    background-image: linear-gradient(to left, red, green);
    margin: 50px auto;
    transition: 1s;
}

.gradient:hover {
    transform: rotatex(180deg)
}


.circle {
    width: 200px;
    height: 100px;
    background-image: radial-gradient(circle farthest-side at top left, red, green);
    /* background-image: radial-gradient(circle farthest side at top left, red, green); */
    margin: 50px auto;
    transition: 1s;
}

.circle:hover {
    transform: skew(45deg);
}